<div class="row">
  <div class="col-md-8">
    
  <h3>Topics ({{ topics.length }})</h3>
  <form>
    <div class="form-group">
        <div class="row">
          <div class="col-8">
            <button class="btn btn-warning form-control" (click)="save()">Save</button>
          </div>
          <div class="col-4"> 
            <button class="btn btn-secondary form-control" (click)="restore()">Defaults</button>
          </div>
        </div>
    </div>
    </form>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let topic of topics">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3" [ngStyle]="{color: topic.color }">{{ topic.color }}</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="topic.description">
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="!topics.length">No topics
      </li>
    </ul>
</div>
